$bordergray: #dce4ec;
$btngray: darken($bordergray, 25%);
$teal: #18bc9c;
$warning: #DA3637;
$success: $teal;

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Form Styles */
body {
  font-size: 100%;
  font-family: Arial, sans-serif;
  text-align: center;
}
.cardregister {
  padding: 40px;
  border: 1px solid $bordergray;
  border-radius: 4px;
}

.myform {
  width: 100%;
}

.textintro {

  h1 {
    margin: 0px 0px;
    font-size: 2.4em;
    font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  }
  p {
    margin-top: 5px;
  }
}

fieldset {
  border: none;
}

input {
  display: inline-block;
  width: 100%;
  height: 45px;
  margin: 10px 0px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  color: black;
  background-color: #ffffff;
  border: 2px solid $bordergray;
  border-radius: 4px;
  outline: 0;
}

input.ng-invalid.ng-touched {
  border-color: $warning;
}

input.ng-valid.ng-touched {
  border-color: $success;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  text-align: center;
  vertical-align: middle;
  background-color: $btngray;
  border: 2px solid $btngray;
  border-radius: 4px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, sans-serif;

}

.ng-valid .btn {
  background-color: $teal;
  border-color: $teal;
  &:hover {
  background-color: darken($teal, 9%);
  border-color: darken($teal, 12%);
  }
}

.error {
  color: $warning;
  margin: 5px;
}
















